body {
    width: 70%;
    margin: auto;
}
h1, h2, h3 {
    font-family: sans-serif;
    margin-top: 1.5em;
}
h1 {
    font-size: 32px;
}

table, caption, td, th{
    border: 1px solid black;
}
.population{
    margin-left: 2em;
}
figcaption{
    font-style: italic;
}
figure{
    float: right;
    width: 10em;
}
img{
    width: 100%;
}